<% @page_title = 'Support Item' -%>

<h3>Support Item</h3>
<table class="axial">
  <tr>
    <th>ID</th>
    <td><%= @bug.id %></td>
  </tr>
  <tr>
    <th>Type</th>
    <td><%= @bug.bug_type.titlecase %></td>
  </tr>
  <tr>
    <th>Priority</th>
    <td><%= bug_priority(@bug) %></td>
  </tr>
  <tr>
    <th>Status</th>
    <td><%= @bug.status.titlecase %></td>
  </tr>
  <tr>
    <th>Reported By</th>
    <td><%=h @bug.reported_by %></td>
  </tr>
  <tr>
    <th>Created On</th>
    <td><%= print_date @bug.created_at %> <%= dist_time_words(@bug.created_at) %></td>
  </tr>
  <tr>
    <th>Source</th>
    <td><%=h @bug.source.titlecase %></td>
  </tr>
  <% unless @bug.information.blank? -%>
    <tr>
      <th>Information</th>
      <td><%= display_bug_text(@bug, 'information') %></td>
    </tr>
  <% end -%>
  <% unless @bug.resolution.blank? -%>
    <tr>
      <th>Resolution</th>
      <td><%= display_bug_text(@bug, 'resolution') %></td>
    </tr>
  <% end -%>
</table>
<div class="functnbar3">&nbsp;</div>

<p><%= link_to('Support Item List', admin_bugs_path) %></p>