<% add_javascripts 'prototype' -%>
<table class="axial">
  <tr>
    <th><%= f.label :client_id %></th>
    <td>
      <% if @pickup_location.new_record? -%>
        <%= f.select(
          :client_id,
          Client.all.map { |c| [h(c.name), c.id] },
          { :include_blank => true },
          { :onchange => remote_function({
                :url  => update_client_users_list_admin_pickup_locations_url,
                :with => "'client_id=' + value" 
              }
            )}) %>
        <%= link_to 'New Client', (admin_controller? ? new_admin_client_path : new_client_path) %>
      <% else -%>
        <%= h(@pickup_location.client.name) %>
      <% end -%>
    </td>
  </tr>
  <tr>
    <th><%= f.label :client_user_id, "Default Client Lead" %></th>
    <td>
      <% client_user_options = @pickup_location.client ? @pickup_location.client.client_users : [] -%>
      <div id="client_user_select">
        <%= render :partial => 'user_select', :locals => { :users => client_user_options } %>
      </div>
    </td>
  </tr>
  <tr>
    <th><%= f.label :solution_owner_user_id, "Default #{SOLUTION_OWNER} Lead" %></th>
    <td><%= f.select :solution_owner_user_id, SolutionOwnerUser.all(:order => 'name ASC').map { |u| [h(u.name), u.id] }, :include_blank => true %></td>
  </tr>
  <tr>
    <th><%= f.label :name, 'Pickup Location Name' %></th>
    <td><%= f.text_field :name %></td>
  </tr>
  <tr>
    <th><%= f.label :address_1 %></th>
    <td><%= f.text_field :address_1 %></td>
  </tr>
  <tr>
    <th><%= f.label :address_2 %></th>
    <td><%= f.text_field :address_2 %></td>
  </tr>
  <tr>
    <th><%= f.label :city %></th>
    <td><%= f.text_field :city %></td>
  </tr>
  <tr>
    <th><%= f.label :state %></th>
    <td><%= f.select :state, Client::STATES, :include_blank => true %></td>
  </tr>
  <tr>
    <th><%= f.label :postal_code, 'Postal Code' %></th>
    <td><%= f.text_field :postal_code, :size => 10, :maxlength => 10 %></td>
  </tr>
</table>