<% if @pickup.new_record? -%>
  <% add_javascripts 'prototype' %>
<% end %>
<table class="axial">
  <tr>
    <th><%= f.label :lot_number, "Lot Number" %></th>
    <td><%= f.text_field :lot_number %></td>
  </tr>	
  <tr>
    <th><%= f.label :name %></th>
    <td><%= f.text_field :name %></td>
  </tr>
  <% if @pickup.new_record? -%>
    <tr>
      <th><%= f.label :pickup_location_id, "Location" %></th>
      <td>
        <%= select_tag 'pickup[pickup_location_id]', pickup_location_options(@pickup.pickup_location),
          :onchange => remote_function({ :url => update_users_list_pickups_path, :with => "'pickup_location_id=' + value" }) %>
        <%= link_to 'New Pickup Location', new_pickup_location_path %>
      </td>
    </tr>
  <% end -%>
  <tr>
    <th><%= f.label :client_user_id, "Client Lead" %></th>
    <td>
      <% if @pickup.pickup_location
        client_users = @pickup.pickup_location.client.client_users.all(:order => 'name ASC')
        selected_client_user = @pickup.client_user || @pickup.pickup_location.client_user
      else
        client_users = []
        selected_client_user = nil
      end -%>
      <div id="client-users-list">
        <%= render :partial => 'users_list',
          :locals => {
          :users => client_users,
          :selected_user => selected_client_user,
          :attr_method => 'pickup[client_user_id]'
        } %>
      </div>
    </td>
  </tr>
  <tr>
    <th><%= f.label :solution_owner_user_id, "#{SOLUTION_OWNER} Lead" %></th>
    <td>
      <% solution_owner_users = SolutionOwnerUser.all(:order => 'name ASC')
      if @pickup.pickup_location
        selected_solution_owner_user = @pickup.solution_owner_user || @pickup.pickup_location.solution_owner_user
      else
        selected_solution_owner_user = nil
      end -%>
      <div id="solution-owner-users-list">
        <%= render :partial => 'users_list',
          :locals => {
          :users => solution_owner_users,
          :selected_user => selected_solution_owner_user,
          :attr_method => 'pickup[solution_owner_user_id]'
        } %>
      </div>
    </td>
  </tr>
  <tr>
    <th><%= f.label :facility, "#{SOLUTION_OWNER} Facility" %></th>
    <td>
		<%= f.select 'facility', [["Tyrone", "Tyrone"], ["Monroeville", "Monroeville"]],{}, {}%>
    </td>
  </tr>

  <tr>
    <th><%= f.label :pickup_type, "Services to Perform" %></th>
    <td><%= f.select 'pickup_type', Pickup::PICKUP_TYPES,{},
	                                   { :multiple => true, :size => 7 }
	                                  %></td>
  </tr>
  <tr>
    <th><%= f.label :special_request, "Special Request" %></th>
    <td><%= f.text_area :special_request, :cols => 40, :rows => 4 %></td>
  </tr>
  <tr>
    <th><%= f.label :quantity %></th>
    <td><%= f.text_area :quantity, :cols => 40, :rows => 4 %></td>
  </tr>
  <% if @pickup.pickup_date_range -%>
    <tr>
      <th>Requested Pickup Date/Range</th>
      <td><%=h @pickup.pickup_date_range %></td>
    </tr>
  <% end -%>
  <tr>
    <th><%= f.label :pickup_date, "Pickup Date" %></th>
    <td><%= js_date_select 'pickup', 'pickup_date_cal' %></td>
  </tr>
  <tr>
    <th><%= f.label :pickup_time, "Pickup Time" %></th>
    <td><%= f.text_field :pickup_time %></td>
  </tr>
  <tr>
    <th><%= f.label :arrival_time %></th>
    <td><%= f.text_field :arrival_time %></td>
  </tr>
  <tr>
    <th><%= f.label :departure_time %></th>
    <td><%= f.text_field :departure_time %></td>
  </tr>
  <tr>
    <th><%= f.label :number_of_men %></th>
    <td><%= f.text_field :number_of_men %></td>
  </tr>
  <tr>
    <th><%= f.label :crew_members %></th>
    <td><%= f.text_area :crew_members, :cols => 40, :rows => 4 %></td>
  </tr>
    <tr>
      <th>Notification Date</th>
      <td><%= js_date_select 'pickup', 'notification_date_cal' %></td>
    </tr>
  <tr>
    <th><%= f.label :site_contact_name, "Site Contact Name" %></th>
    <td><%= f.text_field :site_contact_name %></td>
  </tr>
  <tr>
    <th><%= f.label :client_reference, "Client Reference" %></th>
    <td>
      <%= f.text_field :client_reference %>
      <p>i.e. Lot number, PO number, etc.</p>
    </td>
  </tr>
</table>