<table class="axial">
  <tr>
    <th><%= f.label :number %></th>
    <td><%= f.text_field :number %></td>
  </tr>
  <tr>
    <th><%= f.label :description %></th>
    <td><%= f.text_area :description, :cols => 40, :rows => 4 %></td>
  </tr>
  <tr>
    <th><%= f.label :weight %></th>
    <td><%= f.text_field :weight %></td>
  </tr>
  <tr>
    <th><%= f.label :comments %></th>
    <td><%= f.text_area :comments, :cols => 40, :rows => 4 %></td>
  </tr>
 
</table>