<% @page_title = 'Pallets' -%>

<% if solution_owner_user? -%>
  <%= print_tasks do |t|
    t << link_to("New Pallet", new_pickup_pallet_path(@pickup))
    t
  end %>
<% end -%>

<%= render :partial => 'pickups/pickup_header', :locals => { :pickup => @pickup } %>

  <h3>Pallets</h3>

  <table width="100%">
    <tr>
      <th>Number</th>
      <th>Description</th>
      <th>Weight</th>
      <th>Comments</th>
    </tr>
    <% for pallet in @pallets %>
      <tr class="<%= cycle 'a', 'b' %>">
        <td><%= h pallet.number %></td>
        <td><%=h pallet.description %></td>
        <td><%=h pallet.weight %></td>
        <td><%= h pallet.comments %></td>
      </tr>
    <% end %>
  </table>
  <div class="functnbar3">&nbsp;</div>
