<%# Copyright (C) 2008 Avalanche, LLC. -%>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title><%= APPNAME + " | " + @page_title %></title>
    <%= render :partial => 'layouts/tigris/head'  %>
  </head>
  <body marginwidth="0" marginheight="0" class="composite"<%= " onLoad=\"document.forms.loginform.elements['login'].focus()\""%>>
    <table border="0" cellspacing="0" cellpadding="4" width="100%" id="main">
      <tr valign="top">
        <td>
          <div id="bodycol">
            <%= render :partial => 'layouts/tigris/apphead' %>
            <div id="projecthome" class="app">
              <%= yield %>
            </div>
          </div>
        </td>
      </tr>
    </table>
    <%= render :partial => "layouts/tigris/footer" %>
  </body>
</html>